*{
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
}
body{
    padding-left: 5px;
}
h1{
    display: inline;
    margin-right: 45px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
:any-link{
    color: #7e0000;
}
.enlaces_header{
    font-size: 22px;
    margin-left: 10px;
}
#batman_top{
    padding-left: 345px;
    background-color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#batman_top_img{
    width: 800px;
}
#tema_pagina{
    text-align: center;
}
#secciones_principales {
    background-color: white;
	width: 1070px;
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.video{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
}
.imgs{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 1px;
    width: 245px;
}
.registro{
    display: block;
}
#volver_arriba{
    font-size: 20px;
}
footer{
    display: block;
    margin: auto;
    font-size: 18px;
    text-align: center;
}
.social_icons{
    margin-left: 5px;
}
#batman_chibi{
    position: absolute;
    right: 577px;
    top: 1990px;
    width: 200px;
}